# JB
.idea/
*.iml

# CMake / build
cmake-build-*/
build/
out/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# Debug / temporary files
*.log
*.tmp
*.temp
*.swp
*~

# Windows
Thumbs.db
Desktop.ini